/*=======Effect=======*/
/*----Input Area----*/

.w3-input-group, .w3-group {
	margin-top: 24px;
	margin-bottom: 24px
}

.w3-input:not(:valid)~.w3-validate {
	color: #f44336
}

.w3-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #808080;
	width: 100%
}

.w3-label {
	color: #009688
}


/*----Input CheckBox----*/

input[type=checkbox].w3-check, input[type=radio].w3-radio {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px
}

input[type=checkbox].w3-check:checked+.w3-validate, input[type=radio].w3-radio:checked+.w3-validate {
	color: #009688
}

input[type=checkbox].w3-check:disabled+.w3-validate, input[type=radio].w3-radio:disabled+.w3-validate {
	color: #aaa
}


/*----Input Select----*/

.w3-select {
	padding: 9px 0;
	width: 100%;
	color: #000;
	border: 1px solid transparent;
	border-bottom: 1px solid #009688
}

.w3-select select:focus {
	color: #000;
	border: 1px solid #009688
}

.w3-select option[disabled] {
	color: #009688
}