/*=======Colors=======*/

.sy-amber,
.sy-hover-amber:hover {
	color: #000!important;
	background-color: #ffc107!important
}

.sy-aqua,
.sy-hover-aqua:hover {
	color: #000!important;
	background-color: #00ffff!important
}

.sy-blue,
.sy-hover-blue:hover {
	color: #fff!important;
	background-color: #2196F3!important
}

.sy-light-blue,
.sy-hover-light-blue:hover {
	color: #000!important;
	background-color: #87CEEB!important
}

.sy-brown,
.sy-hover-brown:hover {
	color: #fff!important;
	background-color: #795548!important
}

.sy-cyan,
.sy-hover-cyan:hover {
	color: #000!important;
	background-color: #00bcd4!important
}

.sy-blue-grey,
.sy-hover-blue-grey:hover,
.sy-blue-gray,
.sy-hover-blue-gray:hover {
	color: #fff!important;
	background-color: #607d8b!important
}

.sy-green,
.sy-hover-green:hover {
	color: #fff!important;
	background-color: #4CAF50!important
}

.sy-light-green,
.sy-hover-light-green:hover {
	color: #000!important;
	background-color: #8bc34a!important
}

.sy-indigo,
.sy-hover-indigo:hover {
	color: #fff!important;
	background-color: #3f51b5!important
}

.sy-khaki,
.sy-hover-khaki:hover {
	color: #000!important;
	background-color: #f0e68c!important
}

.sy-lime,
.sy-hover-lime:hover {
	color: #000!important;
	background-color: #cddc39!important
}

.sy-orange,
.sy-hover-orange:hover {
	color: #000!important;
	background-color: #ff9800!important
}

.sy-deep-orange,
.sy-hover-deep-orange:hover {
	color: #fff!important;
	background-color: #ff5722!important
}

.sy-pink,
.sy-hover-pink:hover {
	color: #fff!important;
	background-color: #e91e63!important
}

.sy-purple,
.sy-hover-purple:hover {
	color: #fff!important;
	background-color: #9c27b0!important
}

.sy-deep-purple,
.sy-hover-deep-purple:hover {
	color: #fff!important;
	background-color: #673ab7!important
}

.sy-red,
.sy-hover-red:hover {
	color: #fff!important;
	background-color: #f44336!important
}

.sy-sand,
.sy-hover-sand:hover {
	color: #000!important;
	background-color: #fdf5e6!important
}

.sy-teal,
.sy-hover-teal:hover {
	color: #fff!important;
	background-color: #009688!important
}

.sy-yellow,
.sy-hover-yellow:hover {
	color: #000!important;
	background-color: #ffeb3b!important
}

.sy-white,
.sy-hover-white:hover {
	color: #000!important;
	background-color: #fff!important
}

.sy-black,
.sy-hover-black:hover {
	color: #fff!important;
	background-color: #000!important
}

.sy-grey,
.sy-hover-grey:hover,
.sy-gray,
.sy-hover-gray:hover {
	color: #000!important;
	background-color: #9e9e9e!important
}

.sy-light-grey,
.sy-hover-light-grey:hover,
.sy-light-gray,
.sy-hover-light-gray:hover {
	color: #000!important;
	background-color: #f1f1f1!important
}

.sy-dark-grey,
.sy-hover-dark-grey:hover,
.sy-dark-gray,
.sy-hover-dark-gray:hover {
	color: #fff!important;
	background-color: #616161!important
}

.sy-pale-red,
.sy-hover-pale-red:hover {
	color: #000!important;
	background-color: #ffdddd!important
}

.sy-pale-green,
.sy-hover-pale-green:hover {
	color: #000!important;
	background-color: #ddffdd!important
}

.sy-pale-yellow,
.sy-hover-pale-yellow:hover {
	color: #000!important;
	background-color: #ffffcc!important
}

.sy-pale-blue,
.sy-hover-pale-blue:hover {
	color: #000!important;
	background-color: #ddffff!important
}


/*----Text Color----*/

.sy-text-amber,
.sy-hover-text-amber:hover
{ color: #ffc107!important }

.sy-text-aqua,
.sy-hover-text-aqua:hover
{ color: #00ffff!important }

.sy-text-blue,
.sy-hover-text-blue:hover
{ color: #2196F3!important }

.sy-text-light-blue,
.sy-hover-text-light-blue:hover
{ color: #87CEEB!important }

.sy-text-brown,
.sy-hover-text-brown:hover
{ color: #795548!important }

.sy-text-cyan,
.sy-hover-text-cyan:hover
{ color: #00bcd4!important }

.sy-text-blue-grey,
.sy-hover-text-blue-grey:hover,
.sy-text-blue-gray,
.sy-hover-text-blue-gray:hover
{ color: #607d8b!important }

.sy-text-green,
.sy-hover-text-green:hover
{ color: #4CAF50!important }

.sy-text-light-green,
.sy-hover-text-light-green:hover
{ color: #8bc34a!important }

.sy-text-indigo,
.sy-hover-text-indigo:hover
{ color: #3f51b5!important }

.sy-text-khaki,
.sy-hover-text-khaki:hover
{ color: #b4aa50!important }

.sy-text-lime,
.sy-hover-text-lime:hover
{ color: #cddc39!important }

.sy-text-orange,
.sy-hover-text-orange:hover
{ color: #ff9800!important }

.sy-text-deep-orange,
.sy-hover-text-deep-orange:hover
{ color: #ff5722!important }

.sy-text-pink,
.sy-hover-text-pink:hover
{ color: #e91e63!important }

.sy-text-purple,
.sy-hover-text-purple:hover
{ color: #9c27b0!important }

.sy-text-deep-purple,
.sy-hover-text-deep-purple:hover
{ color: #673ab7!important }

.sy-text-red,
.sy-hover-text-red:hover
{ color: #f44336!important }

.sy-text-sand,
.sy-hover-text-sand:hover
{ color: #fdf5e6!important }

.sy-text-teal,
.sy-hover-text-teal:hover
{ color: #009688!important }

.sy-text-yellow,
.sy-hover-text-yellow:hover
{ color: #d2be0e!important }

.sy-text-white,
.sy-hover-text-white:hover
{ color: #fff!important }

.sy-text-black,
.sy-hover-text-black:hover
{ color: #000!important }

.sy-text-grey,
.sy-hover-text-grey:hover,
.sy-text-gray,
.sy-hover-text-gray:hover
{ color: #757575!important }

.sy-text-light-grey,
.sy-hover-text-light-grey:hover,
.sy-text-light-gray,
.sy-hover-text-light-gray:hover
{ color: #f1f1f1!important }

.sy-text-dark-grey,
.sy-hover-text-dark-grey:hover,
.sy-text-dark-gray,
.sy-hover-text-dark-gray:hover
{ color: #3a3a3a!important }


/*----Border Color----*/

.sy-border-amber,
.sy-hover-border-amber:hover
{ border-color: #ffc107!important }

.sy-border-aqua,
.sy-hover-border-aqua:hover
{ border-color: #00ffff!important }

.sy-border-blue,
.sy-hover-border-blue:hover
{ border-color: #2196F3!important }

.sy-border-light-blue,
.sy-hover-border-light-blue:hover
{ border-color: #87CEEB!important }

.sy-border-brown,
.sy-hover-border-brown:hover
{ border-color: #795548!important }

.sy-border-cyan,
.sy-hover-border-cyan:hover
{ border-color: #00bcd4!important }

.sy-border-blue-grey,
.sy-hover-border-blue-grey:hover,
.sy-border-blue-gray,
.sy-hover-border-blue-gray:hover
{ border-color: #607d8b!important }

.sy-border-green,
.sy-hover-border-green:hover
{ border-color: #4CAF50!important }

.sy-border-light-green,
.sy-hover-border-light-green:hover
{ border-color: #8bc34a!important }

.sy-border-indigo,
.sy-hover-border-indigo:hover
{ border-color: #3f51b5!important }

.sy-border-khaki,
.sy-hover-border-khaki:hover
{ border-color: #f0e68c!important }

.sy-border-lime,
.sy-hover-border-lime:hover
{ border-color: #cddc39!important }

.sy-border-orange,
.sy-hover-border-orange:hover
{ border-color: #ff9800!important }

.sy-border-deep-orange,
.sy-hover-border-deep-orange:hover
{ border-color: #ff5722!important }

.sy-border-pink,
.sy-hover-border-pink:hover
{ border-color: #e91e63!important }

.sy-border-purple,
.sy-hover-border-purple:hover
{ border-color: #9c27b0!important }

.sy-border-deep-purple,
.sy-hover-border-deep-purple:hover
{ border-color: #673ab7!important }

.sy-border-red,
.sy-hover-border-red:hover
{ border-color: #f44336!important }

.sy-border-sand,
.sy-hover-border-sand:hover
{ border-color: #fdf5e6!important }

.sy-border-teal,
.sy-hover-border-teal:hover
{ border-color: #009688!important }

.sy-border-yellow,
.sy-hover-border-yellow:hover
{ border-color: #ffeb3b!important }

.sy-border-white,
.sy-hover-border-white:hover
{ border-color: #fff!important }

.sy-border-black,
.sy-hover-border-black:hover
{ border-color: #000!important }

.sy-border-grey,
.sy-hover-border-grey:hover,
.sy-border-gray,
.sy-hover-border-gray:hover
{ border-color: #9e9e9e!important }

.sy-border-light-grey,
.sy-hover-border-light-grey:hover,
.sy-border-light-gray,
.sy-hover-border-light-gray:hover
{ border-color: #f1f1f1!important }

.sy-border-dark-grey,
.sy-hover-border-dark-grey:hover,
.sy-border-dark-gray,
.sy-hover-border-dark-gray:hover
{ border-color: #616161!important }

.sy-border-pale-red,
.sy-hover-border-pale-red:hover
{ border-color: #ffe7e7!important }

.sy-border-pale-green,
.sy-hover-border-pale-green:hover
{ border-color: #e7ffe7!important }

.sy-border-pale-yellow,
.sy-hover-border-pale-yellow:hover
{ border-color: #ffffcc!important }

.sy-border-pale-blue,
.sy-hover-border-pale-blue:hover
{ border-color: #e7ffff!important }