/*=======Component=======*/
/*----Boutton----*/

.sy-btn,
.sy-btn-block {
	border: none;
	display: inline-block;
	outline: 0;
	padding: 6px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none!important;
	color: #fff;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}

.sy-btn:hover,
.sy-btn-block:hover,
.sy-btn-floating:hover,
.sy-btn-floating-large:hover
{ box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) }

.sy-btn,
.sy-btn-floating,
.sy-btn-floating-large,
.sy-closenav,
.sy-opennav,
.sy-btn-block {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.sy-btn-floating,
.sy-btn-floating-large {
	display: inline-block;
	text-align: center;
	color: #fff;
	background-color: #000;
	position: relative;
	overflow: hidden;
	z-index: 1;
	padding: 0;
	border-radius: 50%;
	cursor: pointer;
	font-size: 24px
}

.sy-btn-floating {
	width: 40px;
	height: 40px;
	line-height: 40px
}

.sy-btn-floating-large {
	width: 56px;
	height: 56px;
	line-height: 56px
}

.sy-disabled,
.sy-btn:disabled,
.sy-btn-floating:disabled,
.sy-btn-floating-large:disabled {
	cursor: not-allowed;
	opacity: 0.3
}

.sy-btn.sy-disabled *,
.sy-btn-block.sy-disabled,
.sy-btn-floating.sy-disabled *,
.sy-btn:disabled *,
.sy-btn-floating:disabled *
{ pointer-events: none }

.sy-btn.sy-disabled:hover,
.sy-btn-block.sy-disabled:hover,
.sy-btn:disabled:hover,
.sy-btn-floating.sy-disabled:hover,
.sy-btn-floating:disabled:hover,
.sy-btn-floating-large.sy-disabled:hover,
.sy-btn-floating-large:disabled:hover
{ box-shadow: none }

.sy-btn-group .sy-btn { float: left }
.sy-btn-block { width: 100% }

.sy-btn-bar .sy-btn {
	box-shadow: none;
	background-color: inherit;
	color: inherit;
	float: left
}

.sy-btn-bar .sy-btn:hover { background-color: #ccc }


/*----Accordion----*/

.sy-accordion {
	width: 100%;
	cursor: pointer
}

.sy-accordion-content {
	cursor: auto;
	display: none;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0
}

.sy-accordion-content a {
	padding: 6px 16px;
	display: block
}

.sy-accordion-content a:hover { background-color: #ccc }

/*----Image----*/
img { margin-bottom: -5px }

.sy-image {
	max-width: 100%;
	height: auto
}


/*----Badge----*/

.sy-badge,
.sy-tag,
.sy-sign {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center
}

.sy-badge { border-radius: 50% }


/*----Modal----*/

.sy-modal {
	z-index: 3;
	display: none;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4)
}

.sy-modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 600px
}

.sy-closebtn {
	text-decoration: none;
	float: right;
	font-size: 24px;
	font-weight: bold;
	color: inherit
}

.sy-closebtn:hover,
.sy-closebtn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer
}


/*Modal Media Querry*/

@media (max-width:600px) {
	.sy-modal-content {
		margin: 0 10px;
		width: auto!important
	}
	.sy-modal {
		padding-top: 30px
	}
}

@media (max-width:768px) {
	.sy-modal-content {
		width: 500px
	}
	.sy-modal {
		padding-top: 50px
	}
}

@media (min-width:993px) {
	.sy-modal-content {
		width: 900px
	}
}


/*----Progress bar----*/

.sy-progress-container {
	width: 100%;
	height: 1.5em;
	position: relative;
	background-color: #f1f1f1
}

.sy-progressbar {
	background-color: #757575;
	height: 100%;
	position: absolute;
	line-height: inherit
}

/*Other*/
hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}

a { color: inherit }


/*Bar*/
.sy-bar {
	width:100%;
	overflow: hidden
}
.sy-center .sy-bar
{
	display: inline-block;
	width: auto
}

.sy-bar-item
{
	padding: 8px 16px;
	float: left;
	background-color: inherit;
	color: inherit;
	width: auto;
	border: none;
	outline: none;
	display: block
}

.sy-bar .sy-btn
{
	padding: 8px 16px;
	background-color: inherit;
	color: inherit;
	box-shadow: none
}

.sy-bar .sy-btn:hover
{
	color: #000!important;
	background-color: #ccc!important
}

.sy-bar .sy-dropdown-hover,
.sy-bar .sy-dropdown-click
{
	position: static;
	float: left
}

.sy-bar .sy-dropdown-hover:hover,
.sy-bar .sy-dropdown-hover:first-child,
.sy-bar .sy-dropdown-click:hover
{
	background-color: #ccc;
	color: #000
}
