/*=======Effect=======*/
/*----Input Area----*/

.sy-input-group, .sy-group {
	margin-top: 24px;
	margin-bottom: 24px
}

.sy-input:not(:valid)~.sy-validate { color: #f44336 }

.sy-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #808080;
	width: 100%
}

.sy-label { color: #009688 }


/*----Input CheckBox----*/

input[type=checkbox].sy-check,
input[type=radio].sy-radio {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px
}

input[type=checkbox].sy-check:checked+.sy-validate,
input[type=radio].sy-radio:checked+.sy-validate
{ color: #009688 }

input[type=checkbox].sy-check:disabled+.sy-validate,
input[type=radio].sy-radio:disabled+.sy-validate
{ color: #aaa }


/*----Input Select----*/

.sy-select {
	padding: 9px 0;
	width: 100%;
	color: #000;
	border: 1px solid transparent;
	border-bottom: 1px solid #009688
}

.sy-select select:focus {
	color: #000;
	border: 1px solid #009688
}

.sy-select option[disabled]
{ color: #009688 }