/*=======Theme=======*/
.sy-theme {
	color:#000 !important;
	background-color:#efc050 !important
}
.sy-theme-p, .sy-theme-primary {
	color:#efc050 !important;
	background-color:#efc050 !important
}
.sy-theme-s, .sy-theme-secondary {
	color:#efc050 !important;
	background-color:#efc050 !important
}
.sy-theme-t, .sy-theme-tertiary {
	color:#efc050 !important;
	background-color:#efc050 !important
}

.sy-text-theme { color:#efc050 !important }
.sy-border-theme { border-color:#efc050 !important }

/*hover*/
.sy-hover-theme:hover {
	color:#000 !important;
	background-color:#efc050 !important
}
.sy-hover-text-theme { color:#efc050 !important }
.sy-hover-border-theme:hover { border-color:#efc050 !important }


